body {
  background-color: #100f0f;
  font-family: "Roboto";
  margin: 0 auto;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h1,
h2 {
  margin: 0;
  color: #a27b5c;
}

p {
  font-size: 1.35em;
  text-align: justify;
  color: #f1f1f1;
}

a {
  text-decoration: none;
  color: #03b6c3;
}

nav {
  display: flex;
  font-size: 1.2em;
  margin: 0;
  padding: 20px 24px;
  background-color: #100f0f;
  color: #e2dcc8;
  position: fixed;
  width: 100%;
  justify-content: space-between;
}

.nav-logo {
  color: #e2dcc8;
  padding: 0 10px;
}

.nav-item-container {
  margin-right: 40px;
}

.nav-item {
  margin: 0 20px;
  color: #e2dcc8;
  padding: 10px 10px;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
}

.nav-item:hover {
  outline: #e2dcc8;
  outline-width: 3px;
  outline-style: inset;
}

.contact-button {
  background-color: #0f3d3e;
  border-radius: 8px;
}

main {
  padding-top: 4em;
  padding-bottom: 0;
  max-width: 50em;
  margin: 0 auto;
}

.intro-section {
  padding: 15em 0;
  display: flex;
}

.profile-container {
  max-width: max-content;
}

.profile-image {
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.intro-item {
  padding: 0 30px;
}

.tools-section {
  padding: 15em 0;
}

.tools-container {
  margin: 100px 0;
  padding-left: 25%;
  list-style: none;
  display: flex;
}

.tools-icon {
  padding: 0 20px;
  height: 80px;
  width: 80px;
}

.project-section {
  margin: 15em 0;
}

.card-container {
  margin: 25px 0;
  justify-content: space-between;
}

.project-card {
  display: inline-block;
  background-color: #f1f1f1;
  border-radius: 8px;
  width: 33%;
}

.project-image {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.project-container {
  padding: 2px 16px;
}

.project-title {
  color: #a27b5c;
}

.project-desc {
  font-size: 16px;
  color: #100f0f;
}

a.show-more-button {
  display: inline-block;
  background-color: #e2dcc8;
  color: #100f0f;
  padding: 8px;
  border-radius: 8px;
}

a.show-more-button:hover {
  transform: scale(1.1);
}

.contact-section {
  margin: 15em 0;
}

.footer-section {
  bottom: 0;
  display: flex;
  justify-content: center;
}
